<!DOCTYPE html>
<html>
  <head>
 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img style="display: block; text-align: center; margin: 0 auto; width: 700px; height: 400px;" src="/images/node.png" alt="">
 
  </body>
</html>
